.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.select-head {
	display: inline-block;
}

.select-wrap {
  width: 50%;
  height: 5vh;
  display: inline-block;
}

.heatmap-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  padding: 0 10vw 0 10vw;
}

.chart-wrap {
  width: 100%;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.chart-wrap .left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.chart-wrap .right {
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.alignment {
	height: 800px;
	width: 100%;
}

.alignment-table, .alignment-table td, .alignment-table th{
  border: 1px solid black;
  border-collapse: collapse;
}

.alignment-table td, .alignment-table th {
  padding: 5px;
  width: 20px;
  text-align: center;
}
.heading-col {
  color: whitesmoke;
  background-color: dimgrey;
  font-weight: 800;
}

.pan-zoom-container {
	width: 100%;
	height: 80vh;
	border: 1px solid black;
}
